/*================================================================================
 Other properties
================================================================================*/
* {
	-fx-font-family: "Roboto";
}

#container {
	-fx-alignment: center;
	-fx-pref-width: 500px;
	-fx-padding: 75px;
	-fx-spacing: 20px;
}

#titleLabel {
	-fx-font-size: 31px;
}

#pointsLabel {
	-fx-font-size: 31px;
}

.tableLabel {
	-fx-font-size: 25px;

	-fx-padding: 0 0 20px;
	-fx-border-insets: 0 0 20px;
	-fx-background-insets: 0 0 20px;
}

#statusLabel {
	-fx-text-fill: red;
}

#logo {

}

.buttons {
	-fx-alignment: center;
	-fx-spacing: 10px;
}

.text-field {
	-fx-font-size: 20px;
	-fx-alignment: center-left;
}

.text-field *.text {
	-fx-text-alignment: left;
}

.password-field {
	-fx-font-size: 20px;
	-fx-text-fill: #636363;
	-fx-alignment: center-left;
}

.button-raised {
	-fx-padding: 0.7em 0.57em;
	-fx-font-size: 14px;
	-jfx-button-type: RAISED;
	-fx-background-color: #CE584A;
	-fx-pref-width: 200;
	-fx-text-fill: WHITE;
}

#centerVBox {
	-fx-alignment: center;
}

#cardsHBox {
	-fx-alignment: center;
}

#topBarHBox {
	-fx-alignment: center;
}

/*******************************************************************************
*                                                                              *
* JFX Decorator                                                                *
*                                                                              *
*******************************************************************************/

.jfx-decorator {
	-fx-decorator-color: #CE584A;
}

.jfx-decorator .jfx-decorator-buttons-container {
	-fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
	-fx-border-color: -fx-decorator-color;
	-fx-border-width: 0 0 0 0;
}


/*******************************************************************************
*                                                                              *
* JFX TableTreeView                                                            *
*                                                                              *
*******************************************************************************/

.tree-table-view{
	-fx-tree-table-color: rgba(0, 150, 0, 0.8);
	-fx-tree-table-rippler-color : rgba(255, 0, 0, 0.9);
}
.tree-table-view:focused .tree-table-row-cell:selected {
	-fx-background-color: -fx-tree-table-color  ;
	-fx-table-cell-border-color: -fx-tree-table-color;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell{
	-fx-text-fill: white;
}

.tree-table-view .jfx-rippler {
	-fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header ,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler{
	-fx-background-color:TRANSPARENT;
}

.tree-table-view .column-header{
	-fx-border-width : 0 1 0 1;
	-fx-border-color: #F3F3F3;
}

.tree-table-view .column-header .label {
	-fx-text-fill : #949494;
	-fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{
	-fx-background-color : #949494;
}

.tree-table-view .column-header:last-visible {
	-fx-border-width: 0 2 0 1;
}

.tree-table-view .column-header-background{
	-fx-border-width : 0 0.0 1 0;
	-fx-border-color:#F3F3F3;
}

.tree-table-view .tree-table-cell{
	-fx-border-width:0 0 0 0;
	-fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-overlay{
	-fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header{
	-fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
	-fx-background-color: -fx-tree-table-color,-fx-box-border,-fx-control-inner-background;
	-fx-background-insets: -1.4, 0, 1;
	-fx-background-radius: 1.4, 0, 0;
	/*....*/
	-fx-padding: 1; /* 0.083333em; */
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
	-fx-background-color: -fx-text-fill;
	-fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
	-fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-table-row-cell .jfx-text-field{
	-fx-focus-color: rgba(240,40,40);
}


/*******************************************************************************
 *                                                                             *
 * JFX Tool Bar                                                                *
 *                                                                             *
 ******************************************************************************/

.jfx-tool-bar {
	-fx-font-size: 20.0;
	-fx-pref-width: 100.0%;
	-fx-pref-height: 64.0px;
}

.jfx-tool-bar HBox {
	-fx-alignment: center;
	-fx-spacing: 25.0;
	-fx-padding: 0.0 10.0;
}

.jfx-tool-bar Label {
	-fx-text-fill: #CE584A;
}

.jfx-tool-bar .jfx-options-burger {
	-fx-padding: 22px;
}

.jfx-tool-bar .jfx-options-burger StackPane {
	-fx-pref-width: 4px;
}

.jfx-tool-bar .jfx-rippler {
	-jfx-rippler-fill: WHITE;
}

.option-list-view {
	-fx-pref-width: 160.0px;
	-fx-background-color: WHITE;
}

.option-jfx-list-view-icon {
	-fx-fill: #CE584A;
	-fx-padding: 0.0 10.0 0.0 5.0;
	-fx-cursor: hand;
}


/*******************************************************************************
*                                                                              *
* JFX Rippler                                                                  *
*                                                                              *
*******************************************************************************/

/*.jfx-rippler {
	-fx-rippler-fill: #5264AE;
	-fx-mask-type: RECT;
}*/
.jfx-rippler:hover {
	-fx-cursor: hand;
}
