/*================================================================================
 Other properties
================================================================================*/
* {
	-fx-alignment: center;
	-fx-font-family: "Roboto";
}

#container {
	-fx-pref-width: 500px;
	-fx-padding: 75px;
	-fx-spacing: 20px;
}

#titleLabel {
	-fx-font-size: 31px;
}

#statusLabel {
	-fx-text-fill: red;
}

#logo {

}

.buttons {
	-fx-spacing: 10px;
}

.text-field {
	-fx-font-size: 20px;
	-fx-alignment: center-left;
}

.text-field *.text {
	-fx-text-alignment: left;
}

.password-field {
	-fx-font-size: 20px;
	-fx-text-fill: #636363;
	-fx-alignment: center-left;
}

.button-raised {
	-fx-padding: 0.7em 0.57em;
	-fx-font-size: 14px;
	-jfx-button-type: RAISED;
	-fx-background-color: #CE584A;
	-fx-pref-width: 200;
	-fx-text-fill: WHITE;
}


/*******************************************************************************
*                                                                              *
* JFX Decorator                                                                *
*                                                                              *
*******************************************************************************/

.jfx-decorator {
	-fx-decorator-color: #CE584A;
}

.jfx-decorator .jfx-decorator-buttons-container {
	-fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
	-fx-border-color: -fx-decorator-color;
	-fx-border-width: 0 0 0 0;
}
