/*================================================================================
 Other properties
================================================================================*/
* {
	-fx-alignment: center;
	-fx-font-family: "Roboto";
}


#container {
	-fx-pref-width: 500px;
	-fx-padding: 75px;
	-fx-spacing: 20px;
}

#titleLabel {
	-fx-font-size: 31px;
}

#statusLabel {
	-fx-text-fill: red;
}

.buttons {
	-fx-spacing: 10px;
}

.text-field {
	-fx-font-size: 20px;
	-fx-alignment: center-left;
}

.text-field *.text {
	-fx-text-alignment: left;
}

.password-field {
	-fx-font-size: 20px;
	-fx-text-fill: #636363;
	-fx-alignment: center-left;
}

.button-raised{
	-fx-padding: 0.7em 0.57em;
	-fx-font-size: 14px;
	-jfx-button-type: RAISED;
	-fx-background-color: rgb(77,102,204);
	-fx-pref-width: 200;
	-fx-text-fill: WHITE;
}
